{% if not(title) %}
  {% set title = "ARTA Landing Page" %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
  {% include "../partials/head.njk" %}
</head>
<body class="page {{ pageClass }} site">


    {% include "../partials/header.njk" %}

    <main class="site__content">
      {% block content %}{% endblock %}
    </main>

    {% include "../partials/footer.njk" %}

    {% include "../modals/subscribe.njk" %}
    {% include "../modals/mobile_menu.njk" %}

    <script src="js/scripts.js"></script>
  	<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/623399.js"></script>

</body>
</html>
