{% if not(title) %}
  {% set title = "ARTA Landing Page" %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">

  <script>
    (function(d, w, c) {
      w.ChatraID = 'kQtCP8N7JxFXaEDDt';
      var s = d.createElement('script');
      w[c] = w[c] || function() {
      (w[c].q = w[c].q || []).push(arguments);
      };
      s.async = true;
      s.src = 'https://call.chatra.io/chatra.js';
      if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
  </script>

</head>
<body class="page {{ pageClass }} site">
  {% include "../partials/header.njk" %}
  {% include "../modals/sign_in.njk" %}
  {% include "../modals/sign_up.njk" %}
  {% include "../modals/subscribe.njk" %}
  {% include "../modals/mobile_menu.njk" %}

  <main class="site__content">
    {% block content %}{% endblock %}
  </main>

  {% include "../partials/footer.njk" %}
  <script src="js/scripts.js"></script>
</body>
</html>
