  <!--STORE AND MANAGE YOUR 3D ASSETS-->
  <div class="assets">
    <h3 class="assets__heading">
      Store and manage access to your 3D assets
    </h3>
    <img class="assets__item-1" src="img/desk.png" alt="desk"/>
    <img class="assets__item-2" src="img/chair.png" alt="desk"/>
    <img class="assets__item-3" src="img/lamp.png" alt="desk"/>
    <a class="assets__arrow" href="#">
      <img class="assets__arrow" src="img/arrow-1.svg" alt="down-scroll"/>
    </a>
  </div>
