<!--BLOCK 2-->
<div class="block-2">
  <img class="block-2__image" src="img/illustration.svg" alt="illustration"/>
  <h1 class="block-2__h-1">
    One-Stop Augumented Reality Suit
  </h1>
  <h2 class="block-2__h-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </h2>
</div>
