

  <!--BLOCK 9 is a child of BLOCK 8 due to the common background-->
  <!--BLOCK-9-->
  <div class="block-9">
    <img class="block-9__image" src="img/arta-3-d-logo.svg" alt="3-d"/>
    <h1 class="block-9__h-1">
      Arta 3D Visualisation
    </h1>
    <h2 class="block-9__h-2">
      With ARTA Brands can build their own
      inventory of the AR-compatible 3D assets using product photos,
      their physical dimensions, 3D sketches or high-poly 3D models.
    </h2>
    <a class="block-9__contact" href="#">
      Contact Us
    </a>
    <a class="block-9__details" href="#">
      Learn More
    </a>
  </div>
