<div class="block-10">
  <span class="block-10__line--top"></span>
  <h1 class="block-10__h-1">
    Enable feel-like experience of your products today
  </h1>
  <a class="block-10__start-free" href="#">
    Start Free Now
  </a>
  <span class="block-10__line--bottom"></span>
</div>
