  <!--BLOCK 6-->
  <div class="block-6">
    <h1 class="block-6__h-1">
      Store and manage access to your 3D assets
    </h1>
    <img class="block-6__item-1" src="img/desk.png" alt="desk"/>
    <img class="block-6__item-2" src="img/chair.png" alt="desk"/>
    <img class="block-6__item-3" src="img/lamp.png" alt="desk"/>
    <a class="block-6__arrow" href="#">
      <img class="block-6__arrow" src="img/arrow-1.svg" alt="down-scroll"/>
    </a>
  </div>
