<!--BLOCK 4-->
<div class="block-4">
  <h1 class="block-4__h-1">Make a realistic preview of your products at people homes</h1>
  <img class="block-4__image" src="img/iphone.png" alt="iphone"/>
  <a class="block-4__arrow" href="#">
    <img class="block-4__arrow" src="img/arrow.svg" alt="down-scroll"/>
  </a>

  <!--BLOCK 5 and BLOCK 6 are children of BLOCK 4 due to the common background-->
  <!--BLOCK-5-->
  <div class="block-5">
    <img class="block-5__image" src="img/arta-sdk.svg" alt="sdk"/>
    <h1 class="block-5__h-1">
      Arta Mobile SDK
    </h1>
    <h2 class="block-5__h-2">
      ARTA provides iOS and Android SDKs
      that are extremely easy to integrate into your existing
      e-commerce solution and mobile shopping apps to make
      realistic preview of your products at people homes.
    </h2>
    <a class="block-5__request" href="#">
      Request Demo
    </a>
    <a class="block-5__details" href="#">
      Learn More
    </a>
  </div>

  <!--BLOCK 6-->
  <div class="block-6">
    <h1 class="block-6__h-1">
      Store and manage access to your 3D assets
    </h1>
    <img class="block-6__item-1" src="img/desk.png" alt="desk"/>
    <img class="block-6__item-2" src="img/chair.png" alt="desk"/>
    <img class="block-6__item-3" src="img/lamp.png" alt="desk"/>
    <a class="block-6__arrow" href="#">
      <img class="block-6__arrow" src="img/arrow-1.svg" alt="down-scroll"/>
    </a>
  </div>
</div>
