<!--BLOCK 7-->
<div class="block-7">
  <img class="block-7__image" src="img/arta-cloud-logo.svg" alt="sdk"/>
  <h1 class="block-7__h-1">
    Arta AR Cloud
  </h1>
  <h2 class="block-7__h-2">
    With ARTA AR CLOUD Brands can store and manage
    access to their 3D assets. Our platform optimizes your assets
    for the smooth augmented reality experiences
    on Android and iOS devices.
  </h2>
  <a class="block-7__features" href="#">
    See All Features
  </a>
  <a class="block-7__details" href="">
    Learn More
  </a>
</div>
