<!--COMPONENTS-->
<div class="components">
  <div class="components__wrapper">
    <div class="components__item-1">
      SDKs
    </div>
    <div class="components__item-2">
      AR Cloud
    </div>
    <img class="components__image" src="img/3-prod-ill.svg" alt="illustration"/>
    <div class="components__item-3">
      3D assets
    </div>
  </div>
</div>
