<!--LAMP-->
<div class="lamp">
  <h3 class="lamp__heading">
    Build your own inventory of the AR-compatible <br />3D assets
  </h3>
  <input type="checkbox" id="lampControl"/>
  <label for="lampControl">
    <img class="lamp__image" src="img/img-trans.png" alt="lamp"/>
  </label>
  <a href="#">
    <img class="lamp__arrow" src="img/arrow.svg" alt="down-scroll"/>
  </a>
</div>
