<!--This is footer partial!-->
<footer class="footer">
  <div class="footer__column">
    <h5 class="footer__h-5">Products</h5>
    <ul class="footer__list">
      <li><a href="#">ARTA Mobile SDK</a></li>
      <li><a href="#">ARTA AR Cloud</a></li>
      <li><a href="#">ARTA 3D Visualization</a></li>
     </ul>
  </div>

  <div class="footer__column">
    <h5 class="footer__h-5">Company</h5>
    <ul class="footer__list">
      <li><a href="#">About Team Technologies</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>

  <div class="footer__column">
    <h5 class="footer__h-5">Support</h5>
    <ul class="footer__list">
      <li><a href="#">Demo App</a></li>
      <li><a href="#">API and SDK reference</a></li>
      <li><a href="#">Ask a Question</a></li>
    </ul>
  </div>

  <div class="footer__column">
    <h5 class="footer__h-5">Legal</h5>
    <ul class="footer__list">
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Agreement</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>


  <div class="footer__stay-tuned">
    <a href="#">
      Stay Tuned For Updates
    </a>
  </div>

  <div class="footer__copyright-div">
    <span class="footer__logo">Arta</span> <span class="footer__text">by Team Technologies <br />
      Augumented reality for retail <br /></span>
    <span class="footer__copyright">&copy 2018 Team Technologies. All Rights Reserved.</span>
  </div>

</footer>
