<footer id="footer" class="footer">

  <div class="footer__wrapper">
    <div class="footer__column">
      <h5 class="footer__heading">Products</h5>
      <ul class="footer__list">
        <li><a href="#">ARTA Mobile SDK</a></li>
        <li><a href="#">ARTA AR Cloud</a></li>
        <li><a href="#">ARTA 3D Visualization</a></li>
       </ul>
    </div>

    <div class="footer__column">
      <h5 class="footer__heading">Company</h5>
      <ul class="footer__list">
        <li><a href="#">About Team Technologies</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>

    <div class="footer__column">
      <h5 class="footer__heading">Support</h5>
      <ul class="footer__list">
        <li><a href="#">Demo App</a></li>
        <li><a href="#">API and SDK reference</a></li>
        <li><a href="#">Ask a Question</a></li>
      </ul>
    </div>

    <div class="footer__column">
      <h5 class="footer__heading">Legal</h5>
      <ul class="footer__list">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Agreement</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__wrapper">
    <div class="footer__info">
      <span class="footer__logo">Arta</span> <span class="footer__text">by Team Technologies <br />
        Augumented reality for retail <br /></span>
      <span class="footer__copyright">&copy 2018 Team Technologies. All Rights Reserved.</span>
    </div>

    <a id="open-modal-window" class="footer__stay-tuned" href="#">
      Stay Tuned For Our Updates
    </a>
  </div>

</footer>
