<footer class="footer">

  <div class="footer__wrapper">
    {# <div class="footer__column">
      <h5 class="footer__heading">Products</h5>
      <ul class="footer__list">
        <li class="footer__list--item"><a href="#">ARTA Mobile SDK</a></li>
        <li class="footer__list--item"><a href="#">ARTA AR Cloud</a></li>
        <li class="footer__list--item"><a href="#">ARTA 3D Visualization</a></li>
       </ul>
    </div> #}

    <div class="footer__column">
      <h5 class="footer__heading">Company</h5>
      <ul class="footer__list">
        <li class="footer__list--item">
          <a href="https://temy.co">
            About Team Technologies
          </a>
        </li>
        <li class="footer__list--item">
          <a href="https://temy.co/career">
            Jobs
          </a>
        </li>
        {# <li class="footer__list--item"><a href="#">Contact us</a></li> #}
      </ul>
    </div>

    <div class="footer__column">
      <h5 class="footer__heading">Support</h5>
      <ul class="footer__list">
        <li class="footer__list--item">
          <a href="https://github.com/TeamTechnologies/ArtaKit-Documentation">
            SDK Reference
          </a>
        </li>
        <li class="footer__list--item">
          <div href="#" onclick="Chatra('openChat')">
            Ask a Question
          </div>
        </li>
        <li class="footer__list--item">
          <a href="https://github.com/TeamTechnologies/ArtaKit-Documentation/issues">
            Report an Issue
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <h5 class="footer__heading">Legal</h5>
      <ul class="footer__list">
        <li class="footer__list--item">
          <a href="https://app.termly.io/document/terms-of-use-for-saas/f520b896-6d32-47ce-a212-bb447b75d280">
            Terms of Use
          </a>
        </li>
        <li class="footer__list--item">
          <a href="https://app.termly.io/document/privacy-policy-for-website/e0cb78f2-8443-47ae-b0db-562b7adef24c">
            Privacy Policy
          </a>
        </li>
        <li class="footer__list--item">
          <a href="https://app.termly.io/document/privacy-policy-for-mobile-app/d9260186-a54b-44bd-9d78-5cda1150a5f0">
            Privacy Policy for ARTA Mobile SDK
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__wrapper--bottom">
    <div class="footer__info">
      <span class="footer__logo">Arta</span> <span class="footer__text">by Team Technologies <br />
        Augmented reality for retail <br /></span>
      <span class="footer__copyright">&copy 2018 Team Technologies. All Rights Reserved.</span>
    </div>

    <a front-role="modal-toggle" class="footer__stay-tuned button button--white-transparent" href="#" data-target="subscribe-modal">
      Stay Tuned For Our Updates
    </a>
  </div>

</footer>
