<!--This is header partial!-->
<nav class="navbar navbar--fixed-top">
      <a class="navbar__brand" href="#"><img class="navbar__logo" src="img/arta-logo.png" alt="Arta" /></a>
      <div class="navbar__company-name">Arta</div>
</nav>
