<header id="changing-header" class="header">

    <h1 class="header__brand"><a class="header__company-name" href="#">Arta</a></h1>

    {# <ul class="header__nav">
      <li class="header__nav-item"><a class="header__nav-link" href="#">Products</a></li>
      <li class="header__nav-item"><a class="header__nav-link" href="#">Pricing</a></li>
      <li class="header__nav-item"><a class="header__nav-link" href="#">Support</a></li>
      <li class="header__nav-item"><a class="header__nav-link" href="#">Blog</a></li>
    </ul> #}

    <ul class="header__right">
      <li class="header__right-item">
        <a class="header__sign-in button button--blue-transparent" href="https://cloud.arta.temy.co/login">
          Sign In
        </a>
      </li>
      <li class="header__right-item">
        <a class="header__start-free button button--blue" href="https://cloud.arta.temy.co/signup">
          Start Free
        </a>
      </li>
      <li class="header__right-item">
        <button front-role="modal-toggle" class="header__toggle" href="#" data-target="mobile-menu">
          <img class="header__toggle--img"src="img/ic-menu.svg" alt="toggle" />
        </button>
      </li>
    </ul>

</header>
