<header id="changing-header" class="header">
    <a class="header__brand" href="#">
      <img class="header__logo" src="img/arta-logo.svg" alt="Arta" />
      <h1 class="header__company-name">Arta</h1>
    </a>

    <div class="header__navbar--center">
      <ul class="header__list">
        <li class="header__navbar-item"><a class="header__navbar-link" href="#">Products</a></li>
        <li class="header__navbar-item"><a class="header__navbar-link" href="#">Pricing</a></li>
        <li class="header__navbar-item"><a class="header__navbar-link" href="#">Support</a></li>
        <li class="header__navbar-item"><a class="header__navbar-link" href="#">Blog</a></li>
      </ul>
    </div>

    <div class="header__navbar--right">
      <ul class="header__right-list">
        <li class="header__navbar-btn">
          <a class="header__sign-in" href="#">
            Sign In
          </a>
        </li>
        <li class="header__navbar-btn">
          <a class="header__start-free" href="#">
            Start Free
          </a>
        </li>
        <li class="header__navbar-btn">
          <a id="toggle-menu" class="header__toggle" href="#">
            <img class="" src="img/ic-menu.svg" alt="toggle" />
          </a>
        </li>
      </ul>
    </div>

</header>
