{% set title = "Index - ARTA Landing Page" %}
{% set pageClass = "page--index" %}
{% extends "layout/main.njk" %}

{% block content %}
  {% include "blocks/intro.njk" %}
  {% include "blocks/one_stop.njk" %}
  {% include "blocks/block_3.njk" %}
  {% include "blocks/block_4_6.njk" %}
  {% include "blocks/block_7.njk" %}
  {% include "blocks/block_8_9.njk" %}
  {% include "blocks/block_10.njk" %}
{% endblock %}
