{% set title = "Index - ARTA Landing Page" %}
{% set pageClass = "page--index" %}
{% extends "layout/main.njk" %}

{% block content %}
  {% include "blocks/intro.njk" %}
  {% include "blocks/one_stop.njk" %}
  {% include "blocks/components.njk" %}
  {% include "blocks/realistic_preview.njk" %}
  {% include "blocks/mobile_sdk.njk" %}
  {% include "blocks/3d_assets.njk" %}
  {% include "blocks/ar_cloud.njk" %}
  {% include "blocks/lamp.njk" %}
  {% include "blocks/visualisation.njk" %}
  {% include "blocks/enable.njk" %}
{% endblock %}
