{% set title = "Index - ARTA Landing Page" %}
{% set pageClass = "page--index" %}
{% extends "layout/main.njk" %}

{% block content %}
  {% include "components/intro.njk" %}
  {% include "components/one_stop.njk" %}
  {% include "components/components.njk" %}
  {% include "components/realistic_preview.njk" %}
  {% include "components/mobile_sdk.njk" %}
  {% include "components/3d_assets.njk" %}
  {% include "components/ar_cloud.njk" %}
  {% include "components/lamp.njk" %}
  {% include "components/visualisation.njk" %}
  {% include "components/enable.njk" %}
{% endblock %}
