.assets {
  position: relative;
  height: 750px;

  &__heading {
    @extend %heading-reset;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 739px;
    margin-left: 97px;
    padding-top: 10px;
    color: $white;
    line-height: 1.4;
    text-align: left;
  }

  &__item-1 {
    position: absolute;
    top: 490px;
    left: calc(207/1280 * 100%);
  }

  &__item-2 {
    position: absolute;
    top: 175px;
    width: 337px;
    left: calc(50% - 0.5 * 337px);
    z-index: 1;
  }

  &__item-3 {
    position: absolute;
    top: 100px;
    left: calc(827/1280 * 100% + 57px);
    z-index: 1;
  }
}

@include breakpoint($screen-md-min, $screen-md-max) {
  .assets {

    &__item-1 {
      left: 97px;
    }
  }
}

@include breakpoint($screen-sm-min, $screen-sm-max) {
  .assets {

    &__heading {
      margin: 0 0 90px 21px;
    }

    &__item-1 {
      left: 40px;
    }
  }
}

@include breakpoint(xs) {
  .assets {
    height: 530px;
    background-position: center;

    &__heading {
      font-size: 32px;
      line-height: 1.31;
      margin-left: 21px;
      padding-top: 35px;
    }

    &__item-1 {
      width: 85px;
      top: 385px;
      left: 20px;
    }

    &__item-2 {
      width: 169px;
      top: 235px;
      left: 50%;
      margin-left: -70px;
    }

    &__item-3 {
      width: 45px;
      top: 210px;
      left: 80%;
    }

    &:before {
      background-position: left 75px;
    }

    &:after {
      background-position: right 75px;
    }
  }
}
