.ar-cloud {
  color: $big-stone;
  padding-top: 157px;
  text-align: center;

  &__heading {
    @extend %heading-reset;
    font-size: 30px;
    font-weight: 900;
    line-height: 2.33;
    text-transform: uppercase;
    padding-top: 92px;
    background-image: url('/img/arta-cloud-logo.svg');
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__description {
    font-size: 20px;
    font-weight: 400;
    width: 475px;
    line-height: 1;
    margin: 0 auto;
    padding-top: 24px;
  }

}

@include breakpoint(xs){
  .ar-cloud {
    padding-top: 69px;

    &__heading {
      font-size: 24px;
      line-height: 1.33;
    }

    &__description {
      font-size: 16px;
      width: 280px;
    }
  }
}
