.buttons {
  position: relative;
  margin: 0 auto;
  right: 25px;
  width: 320px;

  &__request {
    display: inline-block;
    position: relative;
    padding: 12px 18px 13px 18px;
    margin: 0 auto;
    top: 59px;
  }

  &__more {
    display: inline-block;
    position: relative;
    color: $curious-blue;
    font-size: 16px;
    font-weight: 700;
    padding-left: 44px;
    margin: 0 auto;
    top: 59px;
  }

  &__style {
    border: 1px solid $curious-blue;
    border-radius: 22px;
    background-color: $curious-blue;
    box-shadow: 0 1px 2px 0 rgba(47, 101, 170, 0.55),
    0 0 5px 0 rgba(31, 82, 133, 0.17), inset 0 0.5px 0 0 $danube;
    height: 43px;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    &:hover,
    &:active {
      background-color: $science-blue;
      border-color: $science-blue;
    }
  }
}

@include breakpoint(xs) {
  .buttons {
    right: 0;

    &__request {
      top: 30px;
    }

    &__more {
      display: block;
      margin: 0 auto;
      padding-left: 0;
      top: 58px;
      line-height: 1.25;
    }
  }
}
