.enable {
  min-height: 501px;
  background-color:  $tiber;
  color: $white;
  text-align: center;
  background-image: url('/img/hexa-bot.svg');
  background-repeat: no-repeat;
  background-position: center;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    border:none;
    height: 2px;
    background: linear-gradient(269deg, rgba(200, 200, 200, 0), $white 50%,
      rgba(151, 151, 151, 0));
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &__heading {
    @extend %heading-reset;
    padding-top: 167px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 2.92;
  }

  &__start-free {
    padding: 8px 20px 9px 20px;
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgba(47, 101, 170, 0.55),
      0 0 5px 0 rgba(31, 82, 133, 0.17), inset 0 0.5px 0 0 $danube;
  }

}

@include breakpoint(xs) {
  .enable {
    min-height: 344px;

    &__heading {
      padding: 93px 20px 0 20px;
      line-height: 1.33;
    }

    &__start-free {
      position: relative;
      top: 28px;
    }
  }
}
