.lamp {
  position: relative;
  min-height: 699px;
  color: $matisse;

  &__heading {
    @extend %heading-reset;
    position: relative;
    padding-left: 97px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1000px;
    color: $matisse;
    line-height: 1.4;
  }

  &__label {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -145px;
    width: 290px;
    height: 542px;
    bottom: 130px;
    z-index: 9;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }

  &__image {
    position: relative;
    left: 10px;
    margin: 0 auto;
    width: 290px;
    height: 542px;
    background-image: url('/img/sprite-lamp.png');
    background-repeat: no-repeat;
    background-position: -280px 0;
  }

  &__control {
    display: none;
  }

  &__control:checked + &__image,
  &__image:hover {
    background-position: 17px 0;
  }
}

@include breakpoint($screen-sm-min, $screen-sm-max){
  .lamp {

    &__heading {
      top: -100px;
    }

    &__image:hover {
      background-position: -280px 0;
    }
  }
}

@include breakpoint(xs){
  .lamp {
    height: 710px;

    &__heading {
      margin-left: 21px;
      font-size: 32px;
      line-height: 1.31;
      padding: 32px 0 0 0;
    }

    &__label {
      bottom: 0;
      width: 178px;
      height: 380px;
      margin-left: -92px;
      bottom: 125px;
    }

    &__image {
      width: 178px;
      height: 380px;
      background-size: cover;
      background-position: -208px 0;
    }

    &__control:checked + &__image {
      background-position: 0 0;
    }

    &__image:hover {
      background-position: -208px 0;
    }

    &:before {
      background-position: left 220px;
    }

    &:after {
      background-position: right 220px;
    }
  }
}
