.mobile-sdk {
  min-height: 750px;
  padding-top: 186px;
  text-align: center;

  &__heading {
    @extend %heading-reset;
    font-size: 30px;
    font-weight: 700;
    height: 150px;
    text-transform: uppercase;
    color: $white;
    padding-top: 92px;
    line-height: 2.33;
    background-image: url('/img/arta-sdk.svg');
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 0 auto;
    padding: 19px 20px 0 20px;
    color: $white;
  }
}

@include breakpoint(xs){
  .mobile-sdk {
    min-height: 530px;
    padding-top: 50px;

    &__heading {
      margin: 30px auto 0 auto;
      font-size: 24px;
      line-height: 1.33;
      width: 215px;
      padding-top: 110px;
    }

    &__description {
      font-size: 16px;
    }

    br {
      display: none;
    }
  }
}
