.one-stop {
  text-align: center;

  &__heading {
    @extend %heading-reset;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $limed-spruce;
    line-height: 1.4;
    background-image: url('/img/illustration.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 420px;
    padding-top: 388px;
  }

  &__text {
    padding: 24px 0 118px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    color: $limed-spruce;
  }
}

@include breakpoint(xs) {
  .one-stop {
    min-height: 530px;

    &__heading {
      padding: 238px 20px 0 20px;
      font-size: 32px;
      line-height: 1.31;
      background-size: 250px;
    }

    &__text {
      padding: 20px 20px 26px 20px;
      font-size: 16px;
    }

    br {
      display: none;
    }
  }

}
