.realistic-preview {
  height: 750px;

  &__heading {
    @extend %heading-reset;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 59px 0 97px;
    height: 725px;
    color: $matisse;
    line-height: 1.4;
    text-align: left;
    background-image: url('/img/iphone.png');
    background-repeat: no-repeat;
    background-position: center 230px;
    background-size: 218px 437px;
  }

  &__arrow {
    top: 660px;
  }
}

@include breakpoint($screen-sm-min, $screen-sm-max) {
  .realistic-preview {
    &__heading {
      padding-left: 21px;
    }
  }
}

@include breakpoint(xs) {
  .realistic-preview {
    min-height: 789px;

    &__heading {
      font-size: 32px;
      line-height: 1.31;
      padding: 0 21px;
      background-position: center 258px;
    }

    br {
      display: none;
    }

    &__arrow {
      top: 690px;
    }

    &:before {
      background-position: left center;
    }

    &:after {
      background-position: right center;
    }
  }
}
