.section-group {
  &--triple-skew {
    background-image: url('/img/triple-desktop-bg.svg');
    background-repeat: no-repeat;
    background-size: 100% 2250px;
  }

  &--double-skew {
    background-image: url('/img/double-desktop-bg.svg');
    background-repeat: no-repeat;
    background-size: 100% 1500px;
  }
}

@include breakpoint(xs) {
  .section-group {
    &--triple-skew {
      background-image: url('/img/triple-mobile-bg.svg');
      background-repeat: no-repeat;
      background-position: center 300px;
      background-size: 100% 1488px;
    }

    &--double-skew {
      background-image: url('/img/double-mobile-bg.svg');
      background-repeat: no-repeat;
      background-position: center 370px;
      background-size: 100% 1170px;
    }
  }
}
