<!--THIS IS MOBILE MENU-->
<div id="menu" class="mobile-menu">
  <div class="mobile-menu__products">
    <h3 class="mobile-menu__heading">Products</h3>
  </div>
  <a id="close-menu" href="#">
    <img class="mobile-menu__close" src="img/ic-close-menu.svg"/>
  </a>

  <ul class="mobile-menu__products-list">
    <li class="mobile-menu__product">
      <a class="mobile-menu__mobile-sdk" href="#">
        Arta Mobile SDK
      </a>
    </li>
    <li class="mobile-menu__product">
      <a class="mobile-menu__ar-cloud"href="#">
        Arta AR Cloud
      </a>
    </li>
    <li class="mobile-menu__product">
      <a class="mobile-menu__3d-visualisation" href="#">
        Arta 3D Visualisation
      </a>
    </li>
  </ul>

  <ul class="mobile-menu__sections-list">
    <li class="mobile-menu__section">
      <a href="#">
        Pricing
      </a>
    </li>
    <li class="mobile-menu__section">
      <a href="#">
        Support
      </a>
    </li>
    <li class="mobile-menu__section">
      <a href="#">
        Blog
      </a>
    </li>
    <li class="mobile-menu__section">
      <a href="#">
        Sign In
      </a>
    </li>
  </ul>

  <div class="mobile-menu__bottom">
    <a class="mobile-menu__start-free" href="#">
      Start Free
    </a>
  </div>
</div>
