<div class="sign-up">
  <form class="sign-up__form">
    <a class="sign-up__close" href="#">
      <img src="img/close-reg.svg"/>
    </a>
    <h3 class="sign-up__heading">
      Sign Up
    </h3>

    <img class="sign-up__fullname-icon" src="img/full-name.svg" alt="email" />
    <input class="sign-up__fullname" type="text" placeholder="Full Name"/>

    <img class="sign-up__email-icon" src="img/email.svg" alt="email" />
    <input class="sign-up__email" type="email" placeholder="Email address"/>

    <img class="sign-up__password-icon" src="img/lock.svg" alt="password" />
    <input class="sign-up__password" type="password" placeholder="Password"/>

    <img class="sign-up__confirm-password-icon" src="img/lock.svg" alt="password" />
    <input class="sign-up__confirm-password" type="password" placeholder="Confirm Password"/>

    <input class="sign-up__submit" value="Sign up" type="submit" />

    <div class="sign-up__text">
      By Signing up you agree with
      <a class="sign-up__terms" href="#">
        Term and Conditions
      </a>
    </div>
  </form>
</div>
