<div class="sign-in">
  <form class="sign-in__form">
    <a class="sign-in__close" href="#">
      <img src="img/close-reg.svg"/>
    </a>
    <h3 class="sign-in__heading">
      Sign In
    </h3>

    <img class="sign-in__email-icon" src="img/email.svg" alt="email" />
    <input class="sign-in__email" type="email" placeholder="Email address"/>

    <img class="sign-in__password-icon" src="img/lock.svg" alt="password" />
    <input class="sign-in__password" type="password" placeholder="Password"/>

    <input class="sign-in__submit" value="Sign in" type="submit" />

    <div class="sign-in__text">
      Not Registered?
      <a class="sign-in__register" href="#">
        Sign Up
      </a> <br/>
      <a class="sign-in__restore-password" href="#">
        Forgot Password
      </a>
    </div>
  </form>
</div>
