<!--STAY TUNED FOR OUR UPDATES-->
<div class="subscribe" id="sub">
  <a href="#" id="close-modal-window">
    <img class="subscribe__close" src="img/ic-close.svg" alt="close" />
  </a>
  <h3 class="subscribe__heading">
    Interested in what we're doing? <br />Stay tuned for our updates
  </h3>
  <input class="subscribe__email" type="text" placeholder="youremail@gmail.com" name="mail" required>
  <a class="subscribe__btn" href="#">
    Subscribe
  </a>
</div>
