<div class="subscribe" id="sub">
  <a href="#" id="close-modal-window">
    <img class="subscribe__close" src="img/ic-close.svg" alt="close" />
  </a>
  <h3 class="subscribe__heading">
    Interested in what we're doing? <br />Stay tuned for our updates
  </h3>
  <form action="#">
    <input required class="subscribe__email" type="email" placeholder="youremail@gmail.com" name="mail">
    <input type="submit" class="subscribe__btn" value="subscribe">
  </form>
</div>
