<div class="section section--grills assets">
  <h3 class="assets__heading">
    Store and manage access to your 3D assets
  </h3>
  <img class="assets__item-1" src="img/desk.png" alt="desk"/>
  <img class="assets__item-2" src="img/chair.png" alt="desk"/>
  <img class="assets__item-3" src="img/lamp.png" alt="desk"/>
  <a class="section__arrow assets__arrow scroll" href="#section7">
    <img src="img/arrow-1.svg" alt="down-scroll"/>
  </a>
</div>
