<div front-role="ar-cloud-section" class="ar-cloud section">
  <h3 class="ar-cloud__heading">
    Arta AR Cloud
  </h3>
  <div class="ar-cloud__description">
    With ARTA AR CLOUD Brands can store and manage
    access to their 3D assets. Our platform optimizes your assets
    for the smooth augmented reality experiences
    on Android and iOS devices.
  </div>
  {# <div class="buttons">
    <a class="buttons__request buttons__style" href="#">
      See All Features
    </a>
    <a class="buttons__more" href="">
      Learn More
    </a>
  </div> #}
</div>
