<div id="section7" class="ar-cloud">
  <img class="ar-cloud__image" src="img/arta-cloud-logo.svg" alt="sdk"/>
  <h3 class="ar-cloud__heading">
    Arta AR Cloud
  </h3>
  <div class="ar-cloud__description">
    With ARTA AR CLOUD Brands can store and manage
    access to their 3D assets. Our platform optimizes your assets
    for the smooth augmented reality experiences
    on Android and iOS devices.
  </div>
  <!--<div class="ar-cloud__buttons">
    <a class="ar-cloud__features" href="#">
      See All Features
    </a>
    <a class="ar-cloud__more" href="">
      Learn More
    </a>
  </div>-->
</div>
