<div class="section">
  <div class="components">
    <div class="components__item components__item--1">
      SDKs
    </div>
    <div class="components__item components__item--2">
      AR Cloud
    </div>
    <div class="components__item components__item--3">
      3D assets
    </div>
  </div>
</div>
