<div class="section intro">
  <h2 class="intro__heading">
    Online <br /> products that feel real
  </h2>
  <div class="intro__description">
    Create augmented reality inventory of
    your own products and let your buyers interact with it
  </div>
  <a href="#" class="intro__start-free">
    Start Free
  </a>
  <a class="section__arrow scroll" href="#section2">
    <img src="img/arrow.svg" alt="down-scroll"/>
  </a>
</div>
