<div class="lamp section section--grills">
  <h3 class="lamp__heading">
    Build your own inventory of the AR-compatible <br />3D assets
  </h3>
  <label class="lamp__label" for="lampControl">
    <input class="lamp__control" id="lampControl" type="checkbox" />
    <div class="lamp__image"></div>
  </label>
  <a class="section__arrow scroll" href="#section9">
    <img src="img/arrow.svg" alt="down-scroll"/>
  </a>
</div>
