<div class="mobile-sdk">
  <img class="mobile-sdk__image" src="img/arta-sdk.svg" alt="sdk"/>
  <h3 class="mobile-sdk__heading">
    Arta Mobile SDK
  </h3>
  <div class="mobile-sdk__description">
    ARTA provides iOS and Android SDKs
    that are <br />extremely easy to integrate into your existing
    <br />e-commerce solution and mobile shopping apps to make
    <br />realistic preview of your products at people homes.
  </div>
  <div class="mobile-sdk__buttons">
    <a class="mobile-sdk__request" href="#">
      Request Demo
    </a>
    <a class="mobile-sdk__more" href="#">
      Learn More
    </a>
  </div>
</div>
