<div front-role="mobile-sdk-section" class="mobile-sdk section">
  <h3 class="mobile-sdk__heading">
    Arta Mobile SDK
  </h3>
  <div class="mobile-sdk__description">
    ARTA provides iOS and Android SDKs
    that are <br />extremely easy to integrate into your existing
    <br />e-commerce solution and mobile shopping apps to make
    <br />realistic preview of your products at people homes.
  </div>
  <div class="buttons-group">
    <a class="buttons-group__item buttons-group__item--1 button button--blue" href="#">
      Request Demo
    </a>
    <a class="buttons-group__item buttons-group__item--2 button button--transparent" href="#">
      Learn More
    </a>
  </div>
</div>
