<div front-role="one-stop-section" class="one-stop section section--grills">
  <h3 class="one-stop__heading">
    One-Stop Augumented <br />Reality Suite
  </h3>
  <div class="one-stop__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod <br /> tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim <br />veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea <br />commodo consequat.
  </div>
</div>
