<div class="one-stop">
  <img class="one-stop__image" src="img/illustration.svg" alt="illustration"/>
  <h3 class="one-stop__heading">
    One-Stop <br />Augumented Reality Suite
  </h3>
  <div class="one-stop__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod <br /> tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim <br />veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea <br />commodo consequat.
  </div>
</div>
