<div front-role="one-stop-section" class="one-stop section section--grills">
  <h3 class="one-stop__heading">
    One-Stop Augmented <br />Reality Suite
  </h3>
  <div class="one-stop__text">
    ARTA is a comprehensive augmented reality platform for brands and retailers
    who already sell online and would like to provide an even more tailored
    shopping experience for their buyers to help them make the right choices.<br />
    <br />
    With ARTA you can upload your 3D models to the cloud, integrate AR preview
    with the best tracking algorithms just in a few minutes and instantly get
    the insights how people interact with your products.<br />
    <br />
    ARTA is forever free for up to 10 virtual products.
  </div>
</div>
