<div class="section realistic-preview">
  <h3 class="realistic-preview__heading">Make a realistic preview
    <br />of your products at
    <br />people homes
  </h3>
  <a class="section__arrow realistic-preview__arrow scroll" href="#section5">
    <img src="img/arrow.svg" alt="down-scroll"/>
  </a>
</div>
