<div class="section">
  <div class="realistic-preview section--grills">
    <h3 class="realistic-preview__heading">Make a realistic preview
      <br />of your products at
      <br />people homes
    </h3>
    <a front-role="scroll-toggle" class="section__arrow" href="#" data-target="mobile-sdk-section">
      <img src="img/arrow.svg" alt="down-scroll"/>
    </a>
  </div>
</div>
