<div class="realistic-preview">
  <h3 class="realistic-preview__heading">Make a realistic preview
    <br class="realistic-preview__br--hidden-xs" />of your products at
    <br class="realistic-preview__br--hidden-xs" />people homes
  </h3>
  <img class="realistic-preview__image" src="img/iphone.png" alt="iphone"/>
  <a class="scroll" href="#section5">
    <img class="realistic-preview__arrow" src="img/arrow.svg" alt="down-scroll"/>
  </a>
</div>
