<div class="section-group section-group--triple-skew">
  {% include "components/realistic_preview.njk" %}
  {% include "components/mobile_sdk.njk" %}
  {% include "components/3d_assets.njk" %}
</div>
