<div front-role="visualisation-section" class="section visualisation">
  <h3 class="visualisation__heading">
    Arta 3D Visualisation
  </h3>
  <div class="visualisation__description">
    With ARTA Brands can build their own
    inventory of the AR-compatible 3D assets using product photos,
    their physical dimensions, 3D sketches or high-poly 3D models.
  </div>
  <div class="buttons-group">
    <a class="buttons-group__item buttons-group__item--1 button button--blue" href="#">
      Contact Us
    </a>
    <a class="buttons-group__item buttons-group__item--2 button button--transparent" href="#">
      Learn More
    </a>
  </div>
</div>
