<div id="section9" class="section visualisation">
  {# <img class="visualisation__image" src="img/arta-3-d-logo.svg" alt="3-d"/> #}
  <h3 class="visualisation__heading">
    Arta 3D Visualisation
  </h3>
  <div class="visualisation__description">
    With ARTA Brands can build their own
    inventory of the AR-compatible 3D assets using product photos,
    their physical dimensions, 3D sketches or high-poly 3D models.
  </div>
  {# <div class="buttons">
    <a class="buttons__request" href="#">
      Contact Us
    </a>
    <a class="buttons__more" href="#">
      Learn More
    </a>
  </div> #}
</div>
