/**
  **COMPONENTS IMAGE (SDKs, AR CLOUD, 3D ASSETS)
**/

.components {
  height: 750px;
  background-color: #ffffff;

  &__image {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 194px;
  }
}

@include breakpoint (xs) {
  .components {
    height: 530px;

    &__image {
      top: 95px;
    }
  }
}
