.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  flex: 1;
}

.item--visible {
  display: block;
}

.chatra--side-bottom {
  bottom: 5px !important;
}

.chatra--pos-right {
  right: 60px !important;
}

@include breakpoint(xs) {
  .chatra--pos-right {
    right: 15px !important;
  }
}
