.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  flex: 1;
}

.item--visible {
  display: block;
}

.chatra--side-bottom {
  bottom: 5px !important;
}

.chatra--pos-right {
  right: 50px!important;
}

.chatra--expanded {
  right: 20px!important;
}

@include breakpoint(0, $screen-sm-max) {
  .chatra--pos-right {
    right: 20px!important;
  }

  .chatra--expanded {
    right: 0!important;
  }
}
