.sign-up {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(6, 14, 22, 0.9);
  z-index: 999;

  &__form {
    position: relative;
    margin: 0 auto;
    max-width: 420px;
    height: 526px;
    top: 112px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background-color: $white;
    border: solid 1px $mystic;
    z-index: 9991;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 12px;
  }

  &__heading {
    @extend %heading-reset;
    color: $pale-sky;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding-top: 21px;
    line-height: 2.33;
  }

  &__fullname,
  &__email,
  &__password,
  &__confirm-password {
    @extend %sign-form;
  }

  &__fullname {
    top: 29px;
  }

  &__email {
    top: 54px;
  }

  &__password {
    top: 83px;
  }

  &__confirm-password {
    top: 112px;
  }

  &__fullname-icon {
    position: absolute;
    top: 132px;
    left: 55px;
    z-index: 999;
  }

  &__email-icon {
    position: absolute;
    top: 197px;
    left: 55px;
    z-index: 999;
  }

  &__password-icon {
    position: absolute;
    top: 263px;
    left: 55px;
    z-index: 999;
  }

  &__confirm-password-icon {
    position: absolute;
    top: 332px;
    left: 55px;
    z-index: 999;
  }

  &__submit {
    @extend %button-style;
    display: block;
    position: relative;
    top: 141px;
    margin: 0 auto;
    padding: 13px 53px 14px 53px;
    font-family: 'Lato', sans-serif;
    outline: 0;
  }

  &__text {
    position: relative;
    text-align: center;
    margin-top: 148px;
    padding-top: 25px;
    font-size: 13px;
    color: $gull-gray;
    z-index: 9999;
  }

  &__terms {
    color: $blue-ribbon;
  }
}

@include breakpoint(xs) {
  .sign-up {
    padding: 10px 10px;

    &__form {
      top: 0;
    }

    &__fullname,
    &__email,
    &__password,
    &__confirm-password {
      width: 260px;
    }

    &__fullname-icon,
    &__email-icon,
    &__password-icon,
    &__confirm-password-icon {
      left: 35px;
    }

    &__text {
      padding: 20px 70px;
    }
  }
}
