.footer {
  background-color: $tiber;
  padding: 51px 0 60px 60px;

  &__wrapper,
  &__wrapper--bottom {
    display: flex;
    width: 100%;
  }

  &__column {
    flex: 0 0 25%;
  }

  &__heading {
    @extend %heading-reset;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    color: $gull-gray;
  }

  &__list {
    @extend %list-reset;
    position: relative;
    padding-top: 7px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: $white;
    z-index: 99;
  }

  &__list--item {
    padding-top: 9px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }

  &__logo {
    display: inline-block;
    margin-top: 47px;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    color: $white;
    padding-right: 5px;
  }

  &__text {
    color: $white;
    font-size: 14px;
  }

  &__copyright {
    color: $white;
    font-size: 13px;
  }

  &__stay-tuned {
    margin: 71px 60px 0 auto;
  }
}

@include breakpoint(xs){
  .footer {
    padding: 19px 15px 72px 15px;

    &__wrapper,
    &__wrapper--bottom {
      flex-wrap: wrap;
    }

    &__column {
      flex: 0 0 100%;
    }

    &__heading {
      padding-top: 34px;
    }

    &__stay-tuned {
      order: -1;
      margin: 50px auto 0 auto;
    }
  }
}
