.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  height: 74px;
  background-color: transparent;
  padding: 0 60px 0 57px;
  z-index: 999;

  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 45px;
    height: 52px;
  }

  &__company-name {
    margin-left: 13px;
    text-transform: uppercase;
    color: $white;
    font-size: 26px;
    font-weight: 900;
  }

  &__navbar--center {
    text-align: center;
  }

  &__list {
    @extend %list-reset;
  }

  &__navbar-item {
    display: inline-block;
    position: relative;
    padding: 0 27px;
    text-transform: uppercase;
    color: $white;
    font-size: 13px;
    font-weight: 700;
  }

  &__navbar-link:hover,
  &__navbar-link:active {
    color: $dodger-blue;
  }

  &__navbar--right {
    right: 0;
    justify-content: flex-end;
  }

  &__right-list {
    @extend %list-reset;
    display: flex;
    flex: 0 0 calc(300/1280 * 100%);
    align-items: center;
    justify-content: flex-end;
  }

  &__navbar-btn {
    text-transform: uppercase;
    color: $white;
    font-size: 13px;
    font-weight: 700;
  }

  &__sign-in {
    border: 1px solid $curious-blue;
    border-radius: 20px;
    height: 40px;
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 13px;
    line-height: 1.23;
    box-shadow: 0 1px 2px 0 rgba(47, 101, 170, 0.55),
      0 0 5px 0 rgba(31, 82, 133, 0.17), inset 0 0.5px 0 0 $danube;

    &:hover,
    &:active {
      background-color: $matisse;
      border: 1px solid $matisse;
    }
  }

  &__start-free {
    border: 1px solid $curious-blue;
    background-color: $curious-blue;
    border-radius: 20px;
    height: 40px;
    font-size: 16px;
    line-height: 1;
    padding: 7px 16px;
    box-shadow: 0 1px 2px 0 rgba(47, 101, 170, 0.55),
      0 0 5px 0 rgba(31, 82, 133, 0.17), inset 0 0.5px 0 0 $danube;

    &:hover,
    &:active {
      background-color: $matisse;
      border: 1px solid $matisse;
    }
  }

  &__toggle {
    display: none;
  }

  &--scrolled {
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(49, 56, 64, 0.23);
  }

  &--scrolled > * &__company-name {
    color: $curious-blue;
  }

  &--scrolled > * &__navbar-item {
    color: $matisse;
  }

  &--scrolled > * &__sign-in {
    color: $matisse;

    &:hover,
    &:active {
      color: $white;
    }
  }

}

@include breakpoint(0, $screen-md-max) {
  .header {
    padding: 0 20px;
  }
}

@include breakpoint(0, $screen-sm-max) {
  .header {
    height: 60px;

    &__logo {
      width: 33px;
      height: 38px;
    }

    &__company-name {
      font-size: 18px;
    }

    &__navbar--center {
      display: none;
    }

    &__sign-in {
      z-index: 9991;
      height: 32px;
      line-height: 1;
      padding: 9px 17px;
    }

    &__start-free {
      display: none;
    }

    &__toggle {
      display: inline-block;
      position: relative;
      top: 2px;
    }
  }
}
