$white: #ffffff;
$big-stone: #17293d;
$curious-blue: #2888e8;
$tiber: #0a233c;
$danube: #5d98d5;
$science-blue: #086acc;
$matisse: #185899;
$limed-spruce: #3b4550;
$gull-gray: #a0abb9;
$dodger-blue: #46a2ff;
